# ==============================================================
# RideLink Microservices - Central Environment Configuration
# ==============================================================
# Copy this file to .env in each individual service before startup.

# 1. Account Service (Owner: Sasiru - IT24200741)
ACCOUNT_SERVICE_PORT=5001
ACCOUNT_DB_URI=mongodb://localhost:27017/ridelink_account_db
JWT_SECRET=super_secret_ridelink_jwt_token_key_2026
JWT_EXPIRES_IN=24h

# 2. Driver & Vehicle Service (Owner: Randi Sithma - IT24104341)
DRIVER_SERVICE_PORT=5002
DRIVER_DB_URI=mongodb://localhost:27017/ridelink_driver_db
ACCOUNT_SERVICE_URL=http://localhost:5001

# 3. Ride Management Service (Owner: Bhanuka - IT24103298)
RIDE_SERVICE_PORT=5003
RIDE_DB_URI=mongodb://localhost:27017/ridelink_ride_db
DRIVER_SERVICE_URL=http://localhost:5002
PAYMENT_SERVICE_URL=http://localhost:5004

# 4. Fare & Payment Service (Owner: Nethmini Perera - IT24104027)
PAYMENT_SERVICE_PORT=5004
PAYMENT_DB_URI=mongodb://localhost:27017/ridelink_payment_db
BASE_FARE_LKR=150.00
PER_KM_RATE_LKR=80.00
PER_MINUTE_RATE_LKR=5.00
